<!DOCTYPE html>
<html>

    <html>

        {% block head %}
          <link rel="stylesheet" href="LoginPageDesign.css">
          <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        
		<title>About us page</title>
        <style>
            h1,h2,h3
            {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            h1{
                text-align: center;
            }
            h2
            {
                color: rgb(75, 18, 18);
            }
        </style>
        {% endblock %}

        {% block body%}
    <h1>Wlecome to about us page , here is some details about the creators of this application</h1>
    <h2> Hi my name is adam shamis!</h2>
    <h3> I am a twelfth grade student who expands physics and computers at the five-unit level and in addition studies mathematics and English at the five-unit level.
    In my free time I like to play chess, read books, go to the gym and play on the computer with some friends.</h3>

    <h4> Hi my name is Ariel Dveirin!</h4>
    <h5> I'm a magshimim student.</h5>
    
        {% endblock %}
        </html>
 
</html>